.map-container {
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    
}
.stock-item {
    padding-left: 20px;
    position: relative;
    
}

* {
    text-align: center;
}
body {
    
    
}